[Unit]
Description=Clipboard history “manager” for wayland
Documentation=https://github.com/sentriz/cliphist
# order startup after WM
After=graphical-session.target

[Service]
Type=exec
ExecStart=wl-paste --watch cliphist store -max-items 10
Restart=on-failure
Slice=app-graphical.slice

[Install]
# Get started via specific WMs
WantedBy=wayland-wm@sway.service
WantedBy=wayland-wm@wayfire.service
WantedBy=wayland-wm@labwc.service
WantedBy=wayland-wm@sway.desktop.service
WantedBy=wayland-wm@wayfire.desktop.service
WantedBy=wayland-wm@labwc.desktop.service
