[Unit]
Description=Clipboard history “manager” for wayland
Documentation=https://github.com/sentriz/cliphist
# order startup after WM
After=graphical-session.target

[Service]
Type=exec
# Repurpose XDG Autostart filtering
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=wl-paste --watch cliphist store -max-items 10
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
# Alternatively can be wanted by specific WMs
#WantedBy=wayland-wm@sway.desktop.service
#WantedBy=wayland-wm@wayfire.desktop.service
#WantedBy=wayland-wm@labwc.desktop.service
#WantedBy=wayland-wm@hyprland.desktop.service
