[Unit]
Description=Kanshi Wayland output manager
Documentation=https://git.sr.ht/~emersion/kanshi/refs
# order startup after WM
After=graphical-session.target

[Service]
Type=exec
# Repurpose XDG Autostart filtering
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc" ""
ExecStart=/usr/bin/kanshi
ExecReload=kill -SIGHUP $MAINPID
Restart=on-failure
Slice=app-graphical.slice

[Install]
# Get started via specific WMs
WantedBy=graphical-session.target
# Alternatively can be wanted by specific WMs
#WantedBy=wayland-wm@sway.service
#WantedBy=wayland-wm@wayfire.service
#WantedBy=wayland-wm@labwc.service
