[Unit]
Description=Sway idle and locking handler
Documentation=man:swayidle(1)
# order startup after WM
After=graphical-session.target

[Service]
Type=exec
# Repurpose XDG Autostart filtering
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
# assuming configuration file is used
ExecStart=swayidle
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
# Alternatively can be wanted by specific WMs
#WantedBy=wayland-wm@sway.desktop.service
#WantedBy=wayland-wm@wayfire.desktop.service
#WantedBy=wayland-wm@labwc.desktop.service
#WantedBy=wayland-wm@hyprland.desktop.service
