[Unit]
Description=Highly customizable Wayland bar for Sway and Wlroots based compositors.
Documentation=https://github.com/Alexays/Waybar/wiki/
# order startup after WM
After=graphical-session.target
# Make sure to receive stop when WM stops
# Stop before WM stops due to After= ordering above
StopPropagatedFrom=graphical-session.target wayland-wm@sway.service wayland-wm@wayfire.service wayland-wm@labwc.service

[Service]
ExecStart=/usr/bin/waybar
ExecReload=kill -SIGUSR2 $MAINPID
Restart=on-failure
Slice=app-graphical.slice

[Install]
# Get started via specific WMs
WantedBy=wayland-wm@sway.service
WantedBy=wayland-wm@wayfire.service
WantedBy=wayland-wm@labwc.service
