Source: uwsm
Section: x11
Priority: optional
Maintainer: Vladimir-csp
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 meson,
 scdoc,
Standards-Version: 4.6.2
Homepage: https://github.com/Vladimir-csp/uwsm
Vcs-Browser: https://github.com/Vladimir-csp/uwsm
Vcs-Git: https://github.com/Vladimir-csp/uwsm.git

Package: uwsm
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
 systemd,
 util-linux-extra
Recommends:
 whiptail,
 walker | fuzzel | wofi | rofi | tofi | bemenu | wmenu | dmenu,
 libnotify-bin
Suggests:
 dbus-broker
Description: Universal Wayland Session Manager
 Provides graphical session with environment management, XDG autostart, and
 clean shutdown by wrapping standalone Wayland compositors into a set of systemd
 units. Also provides helpers for launching applications, user units management,
 and login shell integration.
