[Unit]
Description=Failed unit monitor
Documentation=man:fumon(1) man:busctl(1)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
ExecCondition=which notify-send
ExecStart=fumon
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
